# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
staticfiles/*
!staticfiles/.gitkeep

# Node
node_modules/
package-lock.json

# Documents générés
*.docx

# Media uploads
media/book_covers/*
books.csv

# Environnement local
.env

# IDE
.vscode/
.idea/
